node_modules/**
package.json
yarn.lock
build/**
*.html
.vscode
.prettirrc
.eslintrc
tsconfig.json
tsconfig.node.json
tsconfig.app.json
*.config.js
index.mjs
*.config.cjs
*.config.mjs
*.config.ts
coverage/
dist/
public/
*.js
*.jsx
*.json
*.md
*.d.ts
.github
.husky
LICENSE
*yml
Dockerfile
Makefile