node_modules/**
package.json
yarn.lock
build/**
src/json/**
public/**
coverage
.vscode
.prettirrc
.eslintrc
tsconfig.json
*.config.json
*.app.json
*.node.json
vercel.json
.github
.husky
*.md
*yml
Dockerfile
Makefile